#HTACCESS LOCALHOST

#REDIRECTION
<IfModule mod_rewrite.c>
    RewriteEngine On
 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

#PHP FILES RESTRICTION
<FilesMatch "^(?!index\.php$).+\.php$">
    Require all denied
</FilesMatch>

#HTACCESS RESTRICTION
<Files ~ "^.*\.([Hh][Tt])">
    Require all denied
</Files>

#ERROR DOCUMENT
ErrorDocument 404 /404
ErrorDocument 403 /404
ErrorDocument 503 /503
