.confirm {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 99;
}
.confirm-container {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    gap: 20px;
    text-align: center;
    color: var(--white);
    margin-top: -25%;
    width: 90%;
    height: 200px;
    background-color: var(--tertiaryColorDark);
    border-radius: 5px;
}
@-webkit-keyframes pop {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    80% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes pop {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    80% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-webkit-keyframes unpop {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
}
@keyframes unpop {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
}
.pop {
    -webkit-animation: pop 0.4s forwards;
            animation: pop 0.4s forwards;
}
.unpop {
    -webkit-animation: unpop 0.4s forwards;
            animation: unpop 0.4s forwards;
}
.appear02 {
    -webkit-animation: appear 0.2s ease-in-out forwards;
            animation: appear 0.2s ease-in-out forwards;
}
.disappear02 {
    -webkit-animation: disappear 0.2s ease-in-out forwards;
            animation: disappear 0.2s ease-in-out forwards;
}
.confirm-container p {
    width: 80%;
}
.confirm-container .confirm-actions {
    gap: 10px;
    width: 100%;
}