h1 {
    width: 100%;
    font-size: 28px;
    font-weight: 300;
}
.updates {
    gap: 10px;
    width: 100%;
    color: var(--white);
}
.update {
    gap: 10px;
    text-align: center;
    background: var(--quinaryColor);
    width: 90%;
    padding: 10px 0px;
}
.upgrade {
    font-size: 16px;
    color: var(--secondaryColorDark);
}
h2 {
    color: var(--primaryColor);
}
h3 {
    color: var(--secondaryColorDark);
}