.add {
    gap: 50px;
}
h1 {
    font-size: 28px;
    color: var(--primaryColor);
}
.add-actions {
    width: 100%;
}
.add-actions {
    gap: 20px;
}
.add-actions a {
    gap: 20px;
}
.add-action p {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: var(--secondaryColorDark);
}