.add-actions {
    width: 100%;
    gap: 10px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 16px;
}
.custom-dropdown {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    position: relative;
}
.selected-option {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 75%;
    cursor: pointer;
    padding: 10px 5px;
    background: var(--secondaryColorLight);
}
.dropdown-options {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    text-align: center;
    width: 75%;
    z-index: 10;
    position: absolute;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 100%;
    left: 50%;
    background-color: var(--white);
    border-top: none;
    display: none;
}
.option {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    padding: 10px;
    cursor: pointer;
}
.option:hover {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    background-color: #e0e0e0;
}
.selected-option:active {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#time {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background: transparent;
    opacity: 0.9;
    width: 100%;
    height: 50px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#time::-webkit-slider-runnable-track {
    background: var(--white);
    height: 10px;
    opacity: 0.7;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
#time:hover, #time:focus, #time:active {
    opacity: 1;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#time::-webkit-slider-thumb {
    border-radius: 2px;
    margin-top: -20px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--primaryColor);
    height: 50px;
    width: 15px;    
}
#time-indicator {
    gap: 5px;
    width: 100%;
    color: var(--primaryColor);
}
.time-container {
    gap: 5px;
    width: 80%;
}
label {
    color: var(--white);
}