.group #title {
    width: 70%;
}
h1 {
    font-size: 26px;
}
.group-actions {
    gap: 15px;
    width: 100%;
}
.group-actions div {
    gap: 10px;
    width: 100%;
}
.quaternary-button {
    gap: 10px;
}
.quaternary-button img {
    filter: saturate(0) brightness(2);
}
.group-today {
    gap: 10px;
    position: relative;
    text-align: center;
    color: var(--white);
    box-sizing: border-box;
    padding: 20px;
    height: 45%;
    width: 90%;
}
.group-today h2 {
    font-size: 17px;
    width: 80%;
    z-index: 1;
    color: var(--white);
}
.group-today-training div {
    gap: 10px;
    font-size: 10px;
    width: 50%;
}
.group-today-training span {
    font-size: 10px;
}
.group-today-training.user span:first-of-type {
    color: var(--primaryColorLight2);
}
.group-today-training span:first-of-type {
    color: var(--white);
}
.group-today-training {
    cursor: pointer;
    box-sizing: border-box;
    transition: filter 0.2s, transform 0.2s;
    opacity: 0.7;
    padding: 10px 5px;
    width: 100%;
    background: var(--tertiaryColorDark);
}
.group-today-training.user {
    opacity: 1;
}
.group-today-training:hover {
    transition: filter 0.2s, transform 0.2s;
    filter: brightness(1.5);
}
.group-today-training.user:active {
    transition: filter 0.2s, transform 0.2s;
    transform: scale(0.8);
}
.group-today-trainings {
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    z-index: 1;
    max-height: 100%;
}
.group-image-rgba {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.group-image {
    position: absolute;
    height: 100%;
    width: 100%;
}
.group-today h2 {
    color: var(--white);
}