.history {
    gap: 15px;
}
h1 {
    margin-top: 10px;
    font-size: 28px;
    color: var(--primaryColor);
}
h2 {
    width: 90%;
}
.history-container {
    height: auto;
    max-height: 95%;
    flex-shrink: 1;
    overflow-y: scroll;
    gap: 10px;
    width: 100%;
}
.history-container.empty {
    overflow: hidden;
}
.training {
    transition: all 0.2s;
    background: var(--quinaryColor);
    width: 85%;
    color: var(--white);
}
.training-container {
    padding: 15px 10px;
}
.training:hover {
    transition: all 0.2s;
    filter: brightness(1.5);
}
.training:hover .delete-training {
    transition: all 0.2s;
}
.date {
    width: 80px;
    text-align: center;
    color: var(--secondaryColorDark);
    font-size: 12px;
}
.sport {
    font-size: 14px;
    text-align: center;
    width: 100px;
}
.time {
    color: var(--secondaryColorDark);
    font-size: 12px;
    text-align: center;
    width: 50px;
}